/* .react-calendar {
    @apply w-[21em] bg-white rounded-xl shadow-md text-black/80;
  }
  
  .react-calendar__tile {
    @apply text-sm rounded-lg hover:bg-pink-100;
  }
  
  .react-calendar__tile--active {
    @apply bg-pink-500 text-white font-semibold;
  }
  
  .react-calendar__navigation {
    @apply mb-2;
  }
  
  .react-calendar__navigation button {
    @apply text-lg text-black font-bold;
  } */

  .custom-calendar {
    width: 100%;
    height: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    font-family: 'NexonLv1Gothic';
    border-radius: 1.25em;
    background-color: white;
  }

  .custom-calendar .react-calendar__navigation{
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
  }

  .custom-calendar .react-calendar__navigation button{
    font-family: 'NexonLv1Gothic';
    font-weight: bold;
    font-size: 1.5rem;
    color: #FF9BAF;
  }

  .custom-calendar .react-calendar__month-view__weekdays {
    margin-bottom: 1.5em;
  }

  .custom-calendar .react-calendar__month-view__weekdays abbr {
    text-decoration: none;
    font-family: 'NexonLv1Gothic';
    font-weight: bold;
    font-size: 1.375rem;
  }

  .custom-calendar .react-calendar__month-view__days__day abbr {
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-family: 'NexonLv1Gothic';
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
  }

  .custom-calendar .react-calendar__month-view__weekdays__weekday:nth-child(1) {
    color: #FF9494; /* 일요일: 빨강 */
  }
  
  .custom-calendar .react-calendar__month-view__weekdays__weekday:nth-child(7) {
    color: #96CAFF; /* 토요일: 파랑 */
  }

  .custom-calendar .react-calendar__month-view__days__day:nth-child(7n+1) {
    color: #FF9494;
  }
  
  .custom-calendar .react-calendar__month-view__days__day:nth-child(7n) {
    color: #96CAFF;
  }

  .custom-calendar .react-calendar__month-view__days__day--neighboringMonth {
    color: black !important;
    opacity: 0.5 !important;
  }

  .custom-calendar .react-calendar__tile {
    padding: 1em 1em;
    border-radius: 50%; 
  }

  .custom-calendar .react-calendar__tile--now {
    background-color: #FF9BAF80;
    display: inline-block;
    white-space: nowrap;
  }
  .custom-calendar .react-calendar__tile--now.react-calendar__month-view__days__day abbr {
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: black !important;
  }

  .custom-calendar .react-calendar__tile:enabled:hover,
  .custom-calendar .react-calendar__tile:enabled:focus,
  .custom-calendar .react-calendar__tile--active,
  .custom-calendar .react-calendar__tile--active:enabled:hover,
  .custom-calendar .react-calendar__tile--active:enabled:focus {
    background: #e6e6e6;
    color: black;
  }

.custom-calendar .react-calendar__tile--now:enabled:hover,
.custom-calendar .react-calendar__tile--now:enabled:focus {
  background: #FF9BAF80 !important;
}

.custom-calendar .react-calendar__tile--hasActive,
.custom-calendar .react-calendar__tile--hasActive:hover {
    background-color: transparent;
  }

.custom-calendar .react-calendar__navigation button:enabled:hover,
.custom-calendar .react-calendar__navigation button:enabled:focus,
.custom-calendar .react-calendar__navigation button:disabled {
  background-color: transparent;
}

.custom-calendar .react-calendar__year-view .react-calendar__tile {
  border-radius: 2.25em;
  padding: 1.75em 0;
  background-color: white;
  border-color: #D4D4D4;
  font-family: 'NexonLv1Gothic';
  font-weight: normal;
  font-size: 1.25rem;
  color: black;
}

.custom-calendar .react-calendar__tile:disabled {
    color: #929292 !important;
    cursor: not-allowed;
    border-radius: 2.25em;
    text-decoration: line-through;
  }
